<h1>NEW PAGE</h1>
<form action="/art" method="POST">
  <div class="form-group">
    <label for="exampleInputEmail1">Piece Name</label>
    <input type="text" class="form-control" placeholder="Track" name="pic_name">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Date</label>
    <input type="text" class="form-control" placeholder="Artist" name="pic_date">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Artist ID</label>
    <input type="text" class="form-control" placeholder="Name" name="artist_id">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
